extension/*
!extension/config.m4
!extension/Makefile.local
!extension/php_xhprof.h
!extension/xhprof.c

!extension/tests/
extension/tests/*.sh
extension/tests/*.exp
extension/tests/*.out
extension/tests/*.diff
extension/tests/*.log
extension/tests/*.php
!extension/tests/common.php
!extension/tests/xhprof_004_inc.php
!extension/tests/xhprof_004_require.php
!extension/tests/xhprof_010_append.php
!extension/tests/xhprof_011_prepend.php
